<!DOCTYPE html>
<!--@ANCHOR:NULL
	@file:     pd-wysheid/common/templates/post-template.html
	@brief:    the template for a post
	@details:  post should be placed at `pd-wysheid/artifact/<post-id>/<post-id>.html`
	@author:   madpang
	@date:     [created: 2025-05-18, updated: 2026-01-12]
-->
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="madpang" />
<link rel="icon" type="image/png" sizes="16x16" href="../../commons/images/favicon-16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="../../commons/images/favicon-32.png" />
<link rel="icon" type="image/png" sizes="64x64" href="../../commons/images/favicon-64.png" />
<link rel="stylesheet" href="../../commons/styles/style.css" />
<script src="../../commons/scripts/main.js" defer></script>
<title>
<!-- @ANCHOR:TITLE -->
</title>
</head>
<body>
<!-- @DIAGRAM
| ------------------------  HEADER BAR ------------------------------ |
| [96px icon] [<< ~~~  nav: link link link... ~~~  >>] [96px toggle ] |
| -------------------------- 100% width ----------------------------- |
-->
<header
	class="pd-viewport-anchor pd-anchor-t-0 pd-anchor-l-0 pd-h-96 pd-w-full pd-bg-color pd-z-1000 pd-flex-container pd-layout-row pd-center-y"
	style="
		--pd-bg-color: var(--color-mercury);
		--pd-bg-color-dark: var(--color-licorice);"
	aria-label="Page Header" >
	<button
		id="btn-go-home"
		class="pd-btn pd-h-full pd-w-96 pd-flex-0"
		style="--pd-btn-bg-color: var(--color-lime);"
		data-href="../../index.html"
		aria-label="Go HomePage" >
	</button>
	<nav
		class="pd-h-full pd-inline-flex pd-flex-1"
		aria-label="Site Navigation" >
		<div class="pd-dummy pd-h-full pd-w-96 pd-flex-0" aria-hidden="true" ></div>
		<button
			id="btn-link-stack"
			class="pd-btn pd-h-full pd-flex-0"
			style="
				--pd-btn-width: 170px;
				--pd-btn-bg-img: url('../../commons/images/STACK-label.png');
				--pd-btn-bg-img-dark: url('../../commons/images/STACK-label-dark.png');"
			aria-label="STACK Link" >
		</button>
		<button
			id="btn-link-heap"
			class="pd-btn pd-h-full pd-flex-0"
			style="
				--pd-btn-width: 140px;
				--pd-btn-bg-img: url('../../commons/images/HEAP-label.png');
				--pd-btn-bg-img-dark: url('../../commons/images/HEAP-label-dark.png');"
			aria-label="HEAP Link" >
		</button>
		<button
			id="btn-link-archive"
			class="pd-btn pd-h-full pd-flex-0"
			style="
				--pd-btn-width: 212px;
				--pd-btn-bg-img: url('../../commons/images/ARCHIVE-label.png');
				--pd-btn-bg-img-dark: url('../../commons/images/ARCHIVE-label-dark.png');"
			aria-label="ARCHIVE Link" >
		</button>
	</nav>
	<button
		id="btn-toggle-theme"
		class="pd-btn pd-h-full pd-w-96 pd-flex-0 pd-ml-auto"
		style="
			--pd-btn-bg-img: url('../../commons/images/theme-switch.png');
			--pd-btn-bg-img-dark: url('../../commons/images/theme-switch-dark.png');"
		aria-label="Toggle Light/Dark Theme" >
	</button>
</header>
<main
	class="pd-main-scrollable pd-z-100 pd-grid pd-tri-cols" >
<div class="pd-dummy" aria-hidden="true" ></div>
<article
	class="pd-article pd-pt-128 pd-pb-96 pd-pl-96 pd-pr-96" >
<!-- @ANCHOR:ARTICLE -->
</article>
<div class="pd-dummy" aria-hidden="true" ></div>
</main>
<!-- @DIAGRAM
| ------------------------  FOOTER BAR ------------------------------ |
| [opt. grad.] [  --- fixed-width semi-trans. bar ---  ] [opt. grad.] |
| -------------------------- 100% width ----------------------------- |
-->
<footer
	class="pd-viewport-anchor pd-anchor-b-0 pd-anchor-l-0 pd-h-32 pd-w-full pd-z-999 pd-grid pd-tri-cols pd-center-y"
	aria-label="Page Footer" >
	<div
		class="pd-h-full pd-w-full pd-bg-grad-x" >
	</div>
	<div
		class="pd-h-full pd-w-full pd-bg-color"
		style="--pd-bg-color: var(--color-frosted-glass);" >
	</div>
	<div
		class="pd-h-full pd-w-full pd-bg-grad-x pd-reverse-x" >
	</div>
</footer>
</body>
</html>
